/* Orden para generar los estilos, no es obligatorio pero es buena práctica.
1. Posicionamiento
2. Modelo de caja (box model)
3. Tipografía
4. Visuales
5. Otros
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    width: 100%;
    min-height: 60px;
    padding-top: 10px;
    display: flex;
    background-color: #f2f2f2;
}

header div {
    justify-content: left;
    height: 30px;
    width: 50vw;
    margin: 15px 15px 15px 25px;
    font-size: 1.8rem;
    font-weight: bold;
}

header nav {
    justify-content: flex-end;
    height: 30px;
    width: 50vw;
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
}

header nav .nav-right-section {
    min-width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

nav .nav-right-section a {
    margin-right: 10px;
    padding: 5px;
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: none;
}

nav #ul-li--title {
    font-weight: bold;
}














footer {
    width: 100%;
    min-height: 120px;
    position: absolute;
    bottom: 0;
    display: flex;
    background-color: #f2f2f2;
}

footer div {
    justify-content: left;
    min-height: 30px;
    width: 50vw;
    margin: auto 50px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.2rem;
}

footer div a {
    margin-left: 18px;
    text-decoration: none;
    font-weight: 500;
    color: black;
}

footer nav {
    justify-content: flex-end;
    height: 30px;
    width: 50vw;
    margin: auto 15px;
    display: flex;
    justify-content: flex-end;
}

footer nav .footer-right-section {
    min-width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

footer nav .footer-right-section a {
    margin-right: 10px;
    padding: 5px;
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: none;
    color: black;
}