/* Orden para generar los estilos, no es obligatorio pero es buena práctica.
1. Posicionamiento
2. Modelo de caja (box model)
3. Tipografía
4. Visuales
5. Otros
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    position: relative;
    width: 100%;
    min-height: 60px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #f2f2f2;
}

header div {
    justify-content: center;
    min-height: 30px;
    margin: 10px auto;
    font-size: 1.8rem;
    font-weight: bold;
}

header nav {
    min-height: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
}

header nav .nav-right-section {
    min-width: 250px;
    margin: 5px auto;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

header nav .nav-right-section a {
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: none;
    color: #000;
}

nav #ul-li--title {
    font-weight: bold;
}





footer {
    width: 100%;
    min-height: 130px;
    display: flex;
    background-color: #f2f2f2;
    flex-direction: column;
}


footer div {
    justify-content: center;
    min-height: 30px;
    margin: 10px auto;
    font-size: 1.4rem;
    font-weight: 700;
}

footer .footer-main-container {
    padding-bottom: 15px;
}

footer .footer-left--title {
    text-align: center;
}

footer div div .footer-left--subtitle {
    text-align: center;
}

footer div a {
    text-decoration: none;
    font-weight: 500;
    color: black;
    font-size: 1.2rem;
}

footer nav {
    min-height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

footer nav .footer-right-section {
    min-width: 250px;
    margin: 5px auto;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

footer nav .footer-right-section a {
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration: none;
    color: #000;
}

main {
    min-height: calc(100vh - 77px - 115px);
}
